PORT=number
LOG_LEVEL=string?
NODE_ENV=string
DB_USERNAME=string
DB_PASSWORD=string
GOOGLE_APPLICATION_CREDENTIALS=string?
TOPIC_NAME=string
PROJECT_ID=string
SUBSCRIPTION_NAME=string
PUBSUB_VERIFICATION_TOKEN=string
JWT_PRIVATE_KEY=string
CAPTCHA_SECRET_KEY=string
SIGNUP_SECRET=string
CORS=array
